Repository anpawo/Video-Code, pull requests merged in 2025-03, with the labels that each got.

#53 Feature/cmake
  .gitignore
  CMakeLists.txt
  src/Main.cpp
  src/compiler/generateVideo.cpp
  src/vm/VideoCode.cpp
  vcpkg-configuration.json
  vcpkg.json
Labels: rework

#62 feat: implement GitHub Actions workflow for repository mirroring
  .github/workflows/cd-mirror.todo
  .github/workflows/cd-mirror.yaml
  .github/workflows/ci-build.todo
  .github/workflows/ci-build.yaml
  .github/workflows/ci-formatting.yaml
  video/image.png
  video/v.mp4
Labels: ci-cd

#56 Feature/grayscale
  CMakeLists.txt
  README.md
  include/transformation/transformation.hpp
  src/Main.cpp
  src/compiler/generateVideo.cpp
  src/transformation/color/grayscale.cpp
  src/vm/VideoCode.cpp
  vcpkg.json
  video.py
  videocode/transformation/color/Grayscale.py
Labels: feature, transformation

#58 Feature/documentation
  README.md
  docs/dev/addEffect.md
  docs/dev/dev.md
  docs/user/inputs/image.md
  docs/user/inputs/inputs.md
  docs/user/inputs/text.md
  docs/user/inputs/video.md
  docs/user/transformation/fade.md
  docs/user/transformation/grayscale.md
  docs/user/transformation/move.md
  docs/user/transformation/overlay.md
  docs/user/transformation/repeat.md
  docs/user/transformation/transformation.md
  docs/user/transformation/translate.md
  docs/user/user.md
  requirements.txt
  src/compiler/generateVideo.cpp
  src/vm/VideoCode.cpp
Labels: doc

#66 Rework/duration
  .clang-format
  .gitignore
  Makefile
  include/input/Iterable.hpp
  include/input/concrete/text/Text.hpp
  include/transformation/transformation.hpp
  include/vm/Register.hpp
  include/vm/VideoCode.hpp
  src/input/concrete/text/Text.cpp
  src/transformation/color/fade.cpp
  src/transformation/other/overlay.cpp
  src/transformation/other/repeat.cpp
  src/transformation/position/move.cpp
  src/transformation/position/translate.cpp
  src/vm/VideoCode.cpp
  video.py
  videocode/Constant.py
  videocode/Global.py
  videocode/input/Input.py
  videocode/input/text/Text.py
  videocode/transformation/Transformation.py
  videocode/transformation/color/Fade.py
Labels: rework

#70 Feature/scale
  .github/workflows/ci-build.yaml
  CMakeLists.txt
  docs/user/transformation/scale.md
  docs/user/transformation/transformation.md
  docs/user/transformation/zoom.md
  docs/user/user.md
  include/python/API.hpp
  include/transformation/transformation.hpp
  include/utils/Debug.hpp
  include/utils/Map.hpp
  include/utils/Vector.hpp
  include/vm/AppEvent.hpp
  src/compiler/generateVideo.cpp
  src/input/concrete/ABCConcreteInput.cpp
  src/input/concrete/media/Image.cpp
  src/input/concrete/media/Video.cpp
  src/input/concrete/text/Text.cpp
  src/transformation/other/scale.cpp
  video.py
  videocode/Constant.py
  videocode/transformation/_AllTransformation.py
  videocode/transformation/other/Scale.py
  videocode/transformation/other/Zoom.py
Labels: transformation
